<p id="notice"><%= notice %></p>

<%= render 'form' %>


<%= link_to 'Publish', publish_post_path(@post), method: :put %>


<br>
<br>

<%= render partial: 'comments/form',
           locals:  { comment: @new_comment || @post.comments.build } %>


<%= render partial: 'comments/comment', collection: @post.comments.except(@new_comment) %>
